.text-l
  font-size: 1rem
  font-weight: 500
  color: #0f0d13

  &[tiny]
    font-size: 0.65rem

  &[small]
    font-size: 0.75rem
  
  &[mid]
    font-size: 0.875rem

  &[large]
    font-size: 1.125rem
    
  &[big]
    font-size: 1.5rem
    
  &[big-x]
    font-size: 1.75rem

  &[quicksand]
    font-family: 'Quicksand'

  &[thin]
    font-weight: 400

  &[bold]
    font-weight: 700
  
  &[justify]
    text-align: justify

  &[center]
    text-align: center
    
  &[hover]
  :hover
    cursor: pointer

  &[ellipsis]
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    
