
:root {
    --color-white-default: #ffffff;
    --color-neutral: #fbfbfb;
    --color-grey-light: #faf9f9;
    --color-grey-2: #fafafa;
    --color-grey-3: #f5f5f5;
    --color-grey-4: #f0f0f0;
    --color-grey-5: #d9d9d9;
    --color-grey-6: #bfbfbf;
    --color-grey-7: #8c8c8c;
    --color-grey-8: #595959;
    --color-grey-9: #434343;
    --color-background-dark: #f5f5f5;
    --color-blue-lighter: #e5ecf5;
    --color-warning: #fa8c16; 
    --color-light-blue-1: #69c0ff;
    --color-geek-blue-1: #f0f5ff;
    --color-geek-blue-2: #d6e4ff;
    --color-geek-blue-3: #adc6ff;
    --color-geek-blue-4: #85a5ff;
    --color-geek-blue-5: #597ef7;
    --color-geek-blue-6: #2f54eb;
    --color-geek-blue-7: #1d39c4;
    --color-geek-blue-10: #030852;
    --color-cyan-1: #e6fffb;
    --color-cyan-2: #b5f5ec;
    --color-cyan-4: #5cdbd3;
    --color-cyan-6: #13c2c2;
    --color-cyan-8: #006d75;
    --color-lime-1: #fcffe6;
    --color-lime-2: #f4ffb8;
    --color-lime-4: #d3f261;
    --color-lime-5: #bae637;
    --color-lime-6: #a0d911;
    --color-lime-7: #7cb305;
    --color-lime-8: #5b8c00;
    --color-gold-6: #faad14;
    --color-green-5: #52c41a;
    --color-polar-green-8: #237804;
    --color-volcano-1: #fff2e8;
    --color-volcano-2: #ffd8bf;
    --color-volcano-3: #ffbb96;
    --color-volcano-5: #ff7a45;
    --color-volcano-6: #fa541c;
    --color-volcano-7: #d4380d;
    --color-magenta-5: #f759ab;
    --color-magenta-6: #EB2F96;
    --color-purple-5: #9254de;
    --color-orange-1: #fff7e6;
    --color-orange-4: #ffc069;
    --color-orange-5: #ffa940;
    --color-orange-6: #fa8c16;
    --color-orange-7: #d46b08;
}